apps/automation/workflows/package-approved/workflow.json
{
  "name": "package-approved",
  "description": null,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook: Package Approved",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "strapi/package-approved",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "notes": "Fires when BOTH business review AND security review reach 'approved'. Strapi lifecycle emits this on state-change transition. Expects body.entry { id, name, author { email, name }, slug }.",
      "webhookId": "5b4adc60-df90-4ca1-aca8-c2ea4ca513d7"
    },
    {
      "id": "extract-1",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "package_id",
              "type": "string",
              "value": "={{ $json.body.entry.id }}"
            },
            {
              "id": "a2",
              "name": "package_name",
              "type": "string",
              "value": "={{ $json.body.entry.name }}"
            },
            {
              "id": "a3",
              "name": "package_slug",
              "type": "string",
              "value": "={{ $json.body.entry.slug }}"
            },
            {
              "id": "a4",
              "name": "author_email",
              "type": "string",
              "value": "={{ $json.body.entry.author.email }}"
            },
            {
              "id": "a5",
              "name": "author_name",
              "type": "string",
              "value": "={{ $json.body.entry.author.name }}"
            },
            {
              "id": "a6",
              "name": "marketplace_link",
              "type": "string",
              "value": "=https://strapi.io/community/packages/{{ $json.body.entry.slug }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "build-email-1",
      "name": "Build Email Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        200
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "template_key",
              "type": "string",
              "value": "plugin-approved"
            },
            {
              "id": "b2",
              "name": "to_email",
              "type": "string",
              "value": "={{ $json.author_email }}"
            },
            {
              "id": "b3",
              "name": "to_name",
              "type": "string",
              "value": "={{ $json.author_name }}"
            },
            {
              "id": "b4",
              "name": "variables",
              "type": "object",
              "value": "={{ { package_name: $json.package_name, author_name: $json.author_name, marketplace_link: $json.marketplace_link } }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "send-email-1",
      "name": "Send Developer Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "1MgLRIjI37T2Kd5W"
        },
        "mode": "once",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "build-slack-1",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        400
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "text",
              "type": "string",
              "value": "=:white_check_mark: Package approved & published: *{{ $json.package_name }}* by {{ $json.author_name }}\nLive: {{ $json.marketplace_link }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "slack-1",
      "name": "Notify #integration-marketplace",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        900,
        400
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "integration-marketplace"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "webhookId": "8d87996f-de91-4a91-b61c-cefe6cc3bb1c"
    }
  ],
  "connections": {
    "Webhook: Package Approved": {
      "main": [
        [
          {
            "node": "Extract Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload": {
      "main": [
        [
          {
            "node": "Build Email Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Payload": {
      "main": [
        [
          {
            "node": "Send Developer Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Notify #integration-marketplace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "activeVersionId": null,
  "versionCounter": 1,
  "tags": [],
  "activeVersion": null
}
